.cellyparrafos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dedondevenimos {
    margin-top: -59px;
    margin-bottom: 0px;
    width: 288px;
    height: 84px;
}

.ourposturings, .ourplanet {
   padding-top: 8px;
   width: 288px;
   height: fit-content;
   margin-bottom: 0px;
   margin-top: 20px;
   box-shadow: 0 0px 20px -2px rgb(180, 173, 173);
   border-radius: 7px;
}


@media (min-width: 768px) {
    .cellyparrafos {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .dedondevenimos{
        width: 399px;
        height: 62px;
    }

   .celular {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .posturings {
        align-self: flex-end;
    }

    .cel {
        display: flex;
    }
}
@media (min-width: 1024px) {
    .ourposturings, .ourplanet {
        width: 464px;
        align-self: auto;
    }
}