.phone {
    position: relative;
    height: 519px;
    z-index: 3;
    top: -96px;
}

@media (min-width:768px){
    .phone {
        top: -66px;
    }
}

@media (min-width: 1440px) {
    .phone {
        margin-right: 188px;
    }
}    
